{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        {% block datumbtn %}
        {% endblock %}
        <table class="table">
            <thead class="thead-dark">
            <tr>
                {% block tablehead %}
                <th>naam</th>
                <th>achternaam</th>
                <th>status</th>
                <th>au pair(s)</th>
                <th>email 1</th>
                <th>email 2</th>
                <th>mobiel 1</th>
                <th>mobiel 2</th>
                <th>more info / edit</th>
                <th>delete</th>
                {% endblock %}
            </tr>
            </thead>
            <tbody>
            {% block tableobject %}
                {% for klant in klanten  %}
                <tr>
                <td>{{ klant.Firstname }}</td>
                <th>{{ klant.Surname }}</th>
                <td>{% for room in rooms  %} {% if room.klant.id == klant.id %} {{room.Status}} {% endif %} {% endfor %}</td>
                <td>{% for room in rooms  %} {% if room.klant.id == klant.id %} {{room.AuPair}} {% endif %} {% endfor %}</td>
                <td>{{ klant.Email }}</td>
                <td>{{ klant.Email2 }}</td>
                <td>{{ klant.Mobile }}</td>
                <td>{{ klant.Mobile2 }}</td>
                <td><a href="KlantInfo/{{ klant.id }}"><button type="button" class="btn btn-success">More</button></a></td>
                <td><a href="delete_klant/{{ klant.id }}"><button type="button" class="btn btn-danger">Delete</button></a></td>
            </tr>
            {% endfor %}
            {% endblock %}
            </tbody>
        </table>
    </div>
{% endblock %}