<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# {% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-grid.css') }}">
            <link rel="stylesheet" href="{{ asset('css/public/css/bootstrap-reboot.css') }}">
            <link rel="stylesheet" href="{{ asset('js/bootstrap.bundle.js') }}">
            <link rel="stylesheet" href="{{ asset('js/bootstrap.min.js') }}">
            <link rel="stylesheet" href="{{ asset('css/base.css') }}">{% endblock %} #}
            <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
             
            {% block stylesheets %}
            <link rel="stylesheet" href="/css/footer.css">
            {% endblock %}
    </head>
    <body>
        {% block header %}
            
        {% endblock %}

        {% block nav %}
        
            <nav class="navbar navbar-expand-sm navbar-dark bg-info mb-3">
            <div class="container">

                <a href="{{ path('home') }}" class="navbar-brand"><img id="logo" src="{{ asset('img/logo.png') }}" alt="Er is iets mis gegaan"></a>
            </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% block navinhoud %}
                    <div class="collapse navbar-collapse col-4 row-cols-1" id="mobile-nav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('home') }}">Home</a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                    <a class="nav-link" href="{{ path('AuPairlijst') }}">Au Pair</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('KlantenLijst') }}">Klanten</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-danger" href="#">Factuur</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-danger" href="#">gefactureerde</a>
                                </li>
                            {% elseif is_granted('ROLE_KLANT') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#">uw informatie</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Klant</a>
                                </li>
                            {% elseif is_granted('ROLE_AUPAIR') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Your Information</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Au Pair</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endblock %}
                {% if app.user %}
                    <div class="ml-2 row-cols-6 d-inline">
                       Welcome {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                     
                    </div>
                {% endif %}

            </nav>
        {% endblock %}

        {% block img %}
        {% endblock %}

        {% block body %}
        {% endblock %}
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    
        {% block javascripts %}{% endblock %}
        
   {{include('footer/footer.html.twig')}}
